.container {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Custom CSS class for a wider modal */
.wider-modal .modal-dialog {
  max-width: 80%; /* Adjust the percentage as needed */
}

