

<div class="container">
  <h3>Product name: Chicken sandwich</h3>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Unit</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{ 1 }}</th>
      <td>Sandwich bread</td>
      <td>pc</td>
      <td>1</td>
      <td>3000</td>
      <td>3000</td>
    </tr>
    <tr>
      <th scope="row">{{ 2 }}</th>
      <td>Chicken</td>
      <td>kg</td>
      <td>0.2</td>
      <td>30000</td>
      <td>6000</td>
    </tr>
    <tr>
      <th scope="row">{{ 3 }}</th>
      <td>Tomato</td>
      <td>kg</td>
      <td>0.05</td>
      <td>15000</td>
      <td>750</td>
    </tr>
    <tr>
      <th scope="row">{{ 4 }}</th>
      <td>Salad</td>
      <td>kg</td>
      <td>0.02</td>
      <td>35000</td>
      <td>700</td>
    </tr>
    <tr>
      <th scope="row">{{ 5 }}</th>
      <td>Tomato Sauce</td>
      <td>litre</td>
      <td>0.02</td>
      <td>50000</td>
      <td>1000</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>Total</td>
      <td>11450</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>Price</td>
      <td>35000</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>Gross profit</td>
      <td>23550</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td>Gross profit margin</td>
      <td>67%</td>
    </tr>
    </tbody>
  </table>
</div>
