<div class="container" *ngFor="let item of calculation; let i = index">
  <div class="card">
    <div class="card-header">
      {{ item.dataCreated }}

    </div>
    <div class="card-body">
      <h5 class="card-title">{{ item.productName }}</h5>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="openModal(item)">View details</button>
    </div>
  </div>
</div>


<!-- Modal -->
<div *ngIf="selectedCalculation" class="modal wider-modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Calculation Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Product name: {{ selectedCalculation.productName }}</p>
        <div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Unit</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Total sum</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of selectedCalculation.nomenclatures; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.nomenclatureID }}</td>
              <td>{{ item.nomenclatureName }}</td>
              <td>{{ item.unitOfMeasure }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.totalSum }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <p>Total Cost: {{ selectedCalculation.totalCost }}</p>
        <p>Sale Price: {{ selectedCalculation.salePrice }}</p>
        <p>Gross Profit: {{ selectedCalculation.grossProfit }}</p>
        <p>Gross Profit Margin: {{ selectedCalculation.grossProfitMargin }}</p>
        <!-- Add more details as needed -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- You can add additional actions here if needed -->
      </div>
    </div>
  </div>
</div>



