<!-- app-product-nav.component.html -->
<div class="row" style="position: fixed; width: 200px; left: 10px; top: 80px; overflow-y: auto; max-height: 80vh;">
  <h2 style="text-align: center">Categories</h2>
  <div class="nav flex-column" aria-orientation="vertical">
    <button class="btn " (click)="onCategoryClick('Pizza')">Pizza</button>
    <button class="btn" (click)="onCategoryClick('Burgers')">Burgers</button>
    <button class="btn" (click)="onCategoryClick('Sandwich')">Sandwich</button>
    <button class="btn" (click)="onCategoryClick('Salads')">Salads</button>
    <button class="btn" (click)="onCategoryClick('Spinner')">Spinner</button>
    <button class="btn" (click)="onCategoryClick('Drinks')">Drinks</button>
    <button class="btn" (click)="onCategoryClick('Hot-drinks')">Hot-Drinks</button>
    <button class="btn" (click)="onCategoryClick('Desserts')">Desserts</button>
    <button class="btn" (click)="onCategoryClick('Soups')">Soups</button>
    <button class="btn" (click)="onCategoryClick('Appetizers')">Appetizers</button>
    <button class="btn" (click)="onCategoryClick('Ice-cream')">Ice-Cream</button>
    <button class="btn" (click)="onCategoryClick('Sauce')">Sauce</button>
    <!-- Add buttons for other categories as needed -->
  </div>
</div>
