<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <nav class="col-md-2 d-none d-md-block sidebar">-->
<!--      <div class="sidebar-sticky">-->
<!--        <h2>Menu</h2>-->
<!--        <ul class="nav flex-column">-->
<!--          <li class="nav-item" (click)="scrollToSection('burgers')">-->
<!--            <a class="nav-link">Burgers</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('pizza')">-->
<!--            <a class="nav-link">Pizza</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('sandwich')">-->
<!--            <a class="nav-link">Sandwich</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('salads')">-->
<!--            <a class="nav-link">Salads</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('spinner')">-->
<!--            <a class="nav-link">Spinner</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('drinks')">-->
<!--            <a class="nav-link">Drinks</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('hot-drinks')">-->
<!--            <a class="nav-link">Hot Drinks</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('desserts')">-->
<!--            <a class="nav-link">Desserts</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('soups')">-->
<!--            <a class="nav-link">Soups</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('appetizers')">-->
<!--            <a class="nav-link">Appetizers</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('ice-cream')">-->
<!--            <a class="nav-link">Ice Cream</a>-->
<!--          </li>-->
<!--          <li class="nav-item" (click)="scrollToSection('sauce')">-->
<!--            <a class="nav-link">Sauce</a>-->
<!--          </li>-->
<!--          &lt;!&ndash; Add more categories as needed &ndash;&gt;-->

<!--          &lt;!&ndash; Example: Subcategories &ndash;&gt;-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->

<!--    <main role="main" class="col-md-9 ml-md-auto col-lg-10 px-4" id="main">-->
<!--      <section style="display: flex; flex-wrap: wrap;">-->
<!--        <app-product *ngFor="let product of products" [product]="product"></app-product>-->
<!--      </section>-->
<!--    </main>-->
<!--    <app-cart class="col-md-9 ml-md-auto col-lg-10 px-4" style="width: 40%"></app-cart>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-product-nav (categoryClick)="scrollToCategory($event)"></app-product-nav>
    </div>
    <div class="col-7 d-flex justify-content-center">
        <div >
          <section id="burgers">
              <app-product *ngFor="let product of burgersCategory" [product]="product" ></app-product>
          </section>
          <section id="pizza">
              <app-product *ngFor="let product of pizzaCategory" [product]="product" ></app-product>
          </section>
          <section id="sandwich">
              <app-product *ngFor="let product of sandwichCategory" [product]="product" ></app-product>
          </section>
          <section id="breakfast">
            <app-product *ngFor="let product of breakfastCategory" [product]="product" ></app-product>
          </section>
          <section id="salads">
              <app-product *ngFor="let product of saladsCategory" [product]="product" ></app-product>
          </section>
          <section id="spinner">
              <app-product *ngFor="let product of spinnerCategory" [product]="product" ></app-product>
          </section>
          <section id="drinks">
              <app-product *ngFor="let product of drinksCategory" [product]="product" ></app-product>
          </section>
          <section id="hot-drinks">
              <app-product *ngFor="let product of hotDrinksCategory" [product]="product" ></app-product>
          </section>
          <section id="desserts">
              <app-product *ngFor="let product of dessertsCategory" [product]="product" ></app-product>
          </section>
          <section id="soups">
              <app-product *ngFor="let product of soupsCategory" [product]="product" ></app-product>
          </section>
          <section id="appetizers">
             <app-product *ngFor="let product of appetizersCategory" [product]="product" ></app-product>
          </section>
          <section id="ice-cream">
             <app-product *ngFor="let product of iceCreamCategory" [product]="product" ></app-product>
          </section>
        <section id="sauce">
          <app-product *ngFor="let product of sauceCategory" [product]="product" ></app-product>
        </section>
        </div>
    </div>
    <div class="col-3">
      <app-cart (orderSaved)="onOrderSave()"></app-cart>
    </div>

  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="onOk()">&times;</span>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
      <h2 style="text-align: center;">Your order has been successfully saved. You can see all orders <button type="button" class="btn btn-primary" (click)="navigateToOrders()">Here</button></h2>
    </div>

  </div>

</div>
