.container {
  margin-top: 20px;
  width: 60%;
}

nz-select {
  width: 100%;
}

nz-select {
  width: 100%;
}

table {
  width: 100%;
}

input.ng-invalid.ng-touched:not(#dateInput) {
  border: 1px solid red;
}
