.container {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Custom CSS class for a wider modal */
.wider-modal .modal-dialog {
  max-width: 80%; /* Adjust the percentage as needed */
}

nz-select {
  width: 100%;
}

.custom-overlay {
  position: fixed; /* Use 'fixed' positioning */
  z-index: 1000; /* Set an appropriate z-index */
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

#price {
  margin-bottom: 40px;
}

/* Add this to your global or component-specific styles */
.fixed-size-image {
  width: 200px; /* Set your desired fixed width */
  height: 200px; /* Set your desired fixed height */
  object-fit: cover; /* Choose 'cover' or 'contain' based on your preference */
}
