<div class="d-flex justify-content-center">
  <button style="margin-top: 80px" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm">Add</button>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="col-1">#</th>
<!--      <th scope="col" class="col-1">ID</th>-->
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of nomenclature; let i = index">
      <th scope="row" class="col-1">{{ i + 1 }}</th>
<!--      <td class="col-1">{{ item.id }}</td>-->
      <td>{{ item.name }}</td>
      <td class="col-3">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteNomenclature(item.id)">Delete</button>
          <button type="button" class="btn btn-outline-primary btn-sm ml-2" data-toggle="modal" data-target=".bd-update-example-modal-sm" (click)="onUpdateNomenclature(item.id)">Update</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Small modal -->
<!-- Add nomenclature -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter name" [formControl]="name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveNomenclature()">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Update nomenclature -->
<div class="modal fade bd-update-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="UpdateName">Name</label>
          <input type="text" class="form-control" id="UpdateName" placeholder="Enter name" [formControl]="updateName">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateNomenclature()">Save</button>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "ball-spin" [fullScreen] = "true"><p style="color: white" >{{ loadingSpinnerService.getMessage() }}</p></ngx-spinner>





