<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Warehouse Flow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/nomenclature">Raw materials</button>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/goods-inwards">Receipts</button>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/products">Products</button>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/sales">Sell</button>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/orders">Orders</button>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <button class="nav-link" href="#" routerLink="/warehouse">Warehouse</button>
        </li>
<!--        <li class="nav-item" routerLinkActive="active">-->
<!--          <button class="nav-link" href="#" routerLink="/remaining-stocks">Остатки</button>-->
<!--        </li>-->
<!--        <li class="nav-item" routerLinkActive="active">-->
<!--          <button class="nav-link" href="#" routerLink="/material-report">Материальный отчет</button>-->
<!--        </li>-->
      </ul>
<!--      <form class="d-flex">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
    </div>
  </div>
</nav>
