<div class="container">
  <h1 style="margin-top: 50px">Welcome to Warehouse Flow App</h1>

  <p style="font-size: 17px; line-height: 25px">Using this app, you will be able to see the balance of your warehouse after certain movements have happened. Let's say some raw materials arrived at your warehouse. Then you made a product and sold it, and you need to know how much of those raw materials are left in your warehouse. This app will calculate it for you.</p>

  <h2>Getting Started test</h2>

  <ol>
    <li style="font-size: 17px; margin-bottom: 7px">Create raw material instances to use in your warehouse.</li>
    <li style="font-size: 17px; margin-bottom: 7px">Create a goods-inwards report containing the raw materials to see them in your warehouse.</li>
    <li style="font-size: 17px; margin-bottom: 7px">Create products to sell. Define the consumption of different raw materials per product, set prices, and instantly get gross profit and other financial information.</li>
    <li style="font-size: 17px">Sell products and observe how your warehouse reacts to changes.</li>
  </ol>

</div>

