
<div class="container rounded border border-success" id="cart" *ngIf="cartItems && cartItems.length > 0" style="position: fixed; width: 300px; right: 10px; top: 80px; padding: 15px">
  <div class="row">
    <h3 class="col-10">Cart</h3>
    <button class="btn btn-danger col-2" style="padding: 3px 7px; font-size: 13px; width: 45px; height: 30px" (click)="onClear()">Clear</button>
  </div>

  <div class="row" *ngFor="let item of cartItems">
    <div class="col">
      <p>{{ item.productName }}</p>
    </div>
    <div class="col-2">
      <p>{{ item.productAmount }}x</p>
    </div>
    <div class="col">
      <p>{{ formatNumberWithSpaceSeparator(item.total) }} сум</p>
    </div>
  </div>
  <div class="row">
    <p class="col-7">Total: </p>
    <p class="col-5">{{formatNumberWithSpaceSeparator(total)}} сум</p>
  </div>
  <div>
    <button style="padding: 3px 7px; font-size: 13px;" class="btn btn-success" (click)="order()">Order</button>
  </div>
</div>
